/* Hi, this is Kaleb Nichols :) */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

h1, h2, h3 {
  font-family:molle;
}

h4, p, q, small, nav, button, form {
  font-family:montserrat;
}

#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
 
#skip:focus {
    position:static;
    width:auto;
    height:auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

/* Hamburger Menu Goes Here */

nav {
    background-color: black;
    position: fixed;
    top: 20px;
    right: 20px;
}

#toggle {
    display: none;
}

#menu-toggle label {
    display: block;
    background-color: #F6D64A;
    color: black;
    padding: 20px 70px;
    cursor: pointer;
    text-align: center;
    font-size:25px;
    text-transform:uppercase;
    font-weight:bold;
}

ul {
    display: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: auto;
    position: absolute;
    top: 100%;
    right: 0;
}

#toggle:checked + label + ul {
    display: block;
    width: 100%;
}

#toggle:checked + label {
    width: 380px; 
}

li {
    list-style: none;
    padding: 20px;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    display: block;
}

#toggle:checked +  label +  ul li {
    background-color: #55BCD5;
    border: 1px solid #000;
}

header {
  background:linear-gradient(#55BCD5,white)
}

body h1, body p, body h2, body h3 {
  padding-left:30px;
}

h1 {
  font-size:90px;
  padding-top:30px;
}

header p {
  font-size:36px;
  line-height:45px
}

h2, h3 {
  font-size:70px;
}

h4 {
font-size:40px;
font-weight:bold;
}

#intro {
  padding-top:50px;
}

main p, main q {
  font-size:30px;
  line-height:50px;
  padding-top:10px;
  padding-bottom:10px;
}

#img-grid img{
  padding-bottom:25px;
  width:700px;
  height:550px;
}

#plan {
  background-color:#F6D64A;
  padding-top:35px;
  padding-bottom:30px;
}

#plan h3 {
  padding-bottom:25px;
}

#plan {
  text-align:center;
}

#plan section {
  margin-top:30px;
  margin-bottom:10px;
  margin-left:80px;
  margin-right:80px;
  background-color:#55BCD5;
  padding-top:25px;
  padding-bottom:40px;
  border-radius:10px;
  outline-style:solid;
  outline-color:white;
  outline-width:5px;
}

#plan h4 {
  padding-bottom:30px;
  text-transform:uppercase;
}

#testimonials {
  padding-top:40px;
}

#testimonials section {
  text-align:center;
  padding-top:25px;
}

q {
  quotes:initial;
}

#about {
  background-color: #499BD2;
  padding-top: 50px;
}

#about section {
  display: inline-block;
  text-align: center;
  padding: 25px 15px;
}

#contact span {
  font-family:montserrat;
  font-size:30px;
}

#contact {
  padding-top:25px;
  margin-left:50px;
}

#contact h3 {
  padding-left:0;
  padding-bottom:25px;
  padding-top:25px;
}

#contact label {
  font-size:25px;
  font-weight:bold;
  text-transform:uppercase;
}

#contact div span {
  color:#9B26B0;
}

#contact fieldset span {
  color:black;
  font-weight:lighter;
  text-transform:none;
}

#contact input {
  padding-right:350px;
  padding-top:20px;
  padding-bottom:20px;
  display:flex;
  margin-bottom:25px;
}

footer {
  background:#EAEAEA;
}

