/* Hi, this is Kaleb Nichols :) */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

h1, h2, h3 {
  font-family:molle;
}

h4, p, q, small, nav, button, form {
  font-family:montserrat;
}

#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
 
#skip:focus {
    position:static;
    width:auto;
    height:auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

/* Hamburger Menu Goes Here */

nav {
    position: fixed;
    top: 20px;
    right: 20px;
}

#toggle {
  display: none;
}

#menu-toggle label {
    display: block;
    background-color: #F6D64A;
    color: black;
    padding: 20px 70px;
    text-align: center;
    font-size:25px;
    text-transform:uppercase;
    font-weight:bold;
}

ul {
    display: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: auto;
    position: absolute;
    top: 100%;
    right: 0;
}

#toggle:checked + label + ul {
    display: block;
    width: 100%;
}

#toggle:checked + label {
    width: 450px;
    background:#000; 
    color:white;
}

li {
    list-style: none;
    padding: 20px;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    display: block;
}

#toggle:checked +  label +  ul li {
    background-color: #55BCD5;
    border: 1px solid #000;
}

header {
  background:linear-gradient(#55BCD5,white)
}

body h1, body p, body h2, body h3 {
  padding-left:30px;
}

h1 {
  font-size:90px;
  padding-top:30px;
}

header p {
  font-size:36px;
  line-height:45px
}

h2, h3 {
  font-size:70px;
}

h4 {
font-size:40px;
font-weight:bold;
}

#intro {
  padding-top:50px;
}

main p, main q {
  font-size:30px;
  line-height:50px;
  padding-top:10px;
  padding-bottom:10px;
}

#img-grid img{
  padding-bottom:25px;
  width:700px;
  height:550px;
}

#plan {
  background-color:#F6D64A;
  padding-top:35px;
  padding-bottom:30px;
}

#plan h3 {
  padding-bottom:25px;
}

#plan {
  text-align:center;
}

#plan section {
  margin: 30px 80px 10px;
  background-color: #55BCD5;
  padding: 25px 80px 40px;
  border-radius: 10px;
  outline: 5px solid white;
}

#plan h4 {
  padding-bottom:30px;
  text-transform:uppercase;
}

#testimonials {
  padding-top:40px;
}

#testimonials section {
  text-align:center;
  padding-top:25px;
}

q {
  quotes:initial;
}

#about {
  background-color: #499BD2;
  padding-top: 50px;
}

#about section {
  display: inline-block;
  text-align: center;
  padding: 25px 15px;
}

#contact {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

#contact h3 {
  margin-bottom: 20px;
  text-align: center;
}

#contact .form-required {
  font-family:montserrat;
  font-size:30px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"], input[type="text"], input[type="tel"], select {
  width: 85%;
  padding: 15px;
  margin-bottom: 10px;
  outline-color: #9B26B0;
  outline-style:solid;
}

input[type="radio"] {
  accent-color:#9B26b0;
}

fieldset label {
  font-weight:lighter;
}

#mySubmit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #9B26B0;
  color: #fff;
  border: none;
  font-size: 16px;
}

.required {
  color:#9B26B0;
}
footer {
  text-align: center;
  background:#EAEAEA;
  padding: 20px 0;
}

footer p, footer a {
  margin: 5px;
  font-family:montserrat;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    padding-bottom:100px;
  }

  nav {
    margin-top: 20px;
    position: relative;
    top: auto;
    left: auto;
  }

  ul {
    display: flex;
    gap:25px;
    padding-right:250px;
  }

  li {
    background:white;
    padding:25px;
  }

  li:hover {
    background:#F6D64A;
  }

  nav a {
    color: #000;
    font-weight:bold;
    text-transform:uppercase;
  }

  #menu-toggle label {
    display: none;
  }

  #img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#img-grid img {
    width: 100%;
    height: auto;
}

#img-grid picture {
    grid-column: span 2;
}

#plan div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding:30px;
}

#plan section {
  margin: 0;
  padding: 20px;
}

#testimonials div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#testimonials section {
  max-width: 375px;
  margin: auto;
}

}


@media only screen and (min-width:1200px) {  
  
nav {
  position: fixed;
  margin-top:0px;  
}

#plan div {
  display: flex;
}

#testimonials div {
  display: flex;
}

}